<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css?3">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="screen column">
        <div class="block main">
            <span class="big">😎</span>
            <br>
            <h1>Проверка цены товара ВБ</h1>
        </div>

        <div class="block main">
            <input placeholder="Артикул" type="text" name="art" id="art">
            <br>
            <button id="check">Запустить отслеживание</button>
        </div>

        <div style="padding: 5%;" class="block main" id="list">            
            <div class="counter" style="text-align: left; color: var(--tg-theme-hint-color); margin-bottom: 2%; border-radius: 10px;">
                <h4 id="counter">....</h4>
            </div>

            <div class="preloader rect" style="height: 20px;"></div>            
            
        </div>
    </div>

    <script src="/static/script.js?3"></script>
</body>
</html>