<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="screen column hidden">
        <div class="block main">
            <span class="big">😎</span>
            <br>
            <h1>Проверка цены товара ВБ</h1>
        </div>

        <div class="block main">
            <input placeholder="Артикул" type="text" name="art" id="art">
            <br>
            <button id="check">Запустить отслеживание</button>
        </div>
    </div>

    <!-- <a href="/product/162380382">тест</a> -->

    <script src="/static/script.js"></script>
</body>
</html>