<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css?{{ anticache }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <input type="text" name="art" id="art" hidden value="{{ art }}">
</head>
<body>
    <div class="screen column">
        <div id="popup" class="popup">
            <div class="popup-content main">
                <div class="popup-head">
                    <span class="close-btn">&times;</span>
                </div>
                <div class="popup-body">
                    <h2>Прогноз цены</h2>
                    <canvas id="price-history" style="width: 100%; height: 150; margin-top: 2%;"></canvas>
                    <div class="preloader-price rect">
                        <h3 id="caption"></h3>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="center">✅ Сейчас отслеживается</h3>
        <br>
        <div class="block main">
            <div class="preloader rect">
                <h3 id="title"></h1>
            </div>
        </div>
        <div class="container row">
            <div class="block main">
                <div class="preloader rect">
                    <h4 id="rating"></h4>
                </div>
            </div>

            <div class="block main">
                <div class="container row">
                    <img src="/static/icons/wallet.svg" alt="wallet">

                    <h4 style="color: blueviolet; margin-left: 10%;" id="wallet-price"></h4>
                </div>
                <br>
                <div class="preloader rect">
                    <h4 id="price"></h4>
                    </h4>                                        
                </div>
            </div>
        </div>

        <div id="neuro" class="neuro-block">
            <h2 style="color: white;">Прогноз цены</h2>
            <span style="font-size: 25px;">✨</span>
        </div>        

        <button id="stop">Снять с отслеживания</button>
        <a style="margin-top: 5%; text-align: center;" target="_blank" href="https://www.wildberries.ru/catalog/{{ art }}/detail.aspx">К товару ></a>
    </div>

    <script src="/static/product.js?{{ anticache }}"></script>
</body>
</html>